html {
    overflow: scroll;
    overflow-x: hidden;
}
body {
    background: url("/images//library_front.jpg");
}
.inactiveLink {
    pointer-events: none;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 29px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}

.navbar {
    background: rgba(0, 0, 0, 0.95);
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    padding: 0.2rem 1rem;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: rgba(0, 0, 0, 0.9);
}

.navbar > .container {
    display: block;
}

.navbar-brand {
    font-family: serif;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
}

.navbar-brand:hover {
    color: white;
}

.nav-link {
    font-size: 18px !important;
    color: white !important;
    text-align-last: center;
}

.active {
    color: #f8a379 !important;
}

.nav-link:hover {
    background: none;
    color: #f8a379  !important;
}

.nav-link.active {
    background: none;
    color: #f8a379  !important;
}
.dropdown-menu {
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.95);
    top: 100%;
    right: 0;
    margin-left: -20px;
}

.footer-basic {
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.9);
    color: #4b4c4d;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 5px;
}

.footer-basic .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social > a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 17px;
    color: #aaa;
    margin-bottom: 0;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.custom-card {
    margin-bottom: 10px;
}

.col-sm-4 {
    margin-bottom: 15px;
}

.card-title.author {
    margin-bottom: 5px;
}

#actions {
    margin-top: 15px;
    margin-bottom: 0px;
}

.form {
    display: block;
    text-align: center;
}

.form-filter {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 10px;
}

#row-title {
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-family: serif;
}

.filter {
    margin: 10px;
}

.card-availability {
    font-size: 16px;
}

#title {
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.9);
    font-family: serif;
}

.modal-header {
    padding: 5px;
}

#dashboard {
    font-size: 40px;
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    font-family: serif;
}

#book-show-img {
    width: 80%;
    max-width: 450px;
    height: 500px;
    margin: 0 auto;
}

@media all and (max-width: 550px) {
    .navbar-brand {
        font-size: 6vw !important;
    }
}
@media screen and (max-width: 992px) {
    .navbar-brand {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #book-show-img {
        width: 90% !important;
    }

    .navbar-toggler {
        float: right;
    }

    .navbar-nav {
        margin-top: 30px;
    }

    .dropdown-menu {
        width: 200px;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0);
    }

    .container.authors {
        margin: 0 auto;
    }
}
